---
import Layout from "../layouts/default.astro";
import { Icon } from "astro-icon/components";
---

<Layout pageTitle="Artem Orlov - CV" pageDescription="CV page">
  <main class="home">
    <a
      class="home__link"
      href="https://docs.astro.build/en/getting-started/"
      hreflang="en"
      target="_blank"
    >
      <Icon class="home__icon" name="astro" />
    </a>
    <h1 class="home__heading">Welcome!</h1>
  </main>
</Layout>
