---
interface Props {
  pageTitle: string;
  pageDescription: string;
}

const { pageTitle, pageDescription } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="shortcut icon" type="image/x-icon" href="./images/favicon.ico" />
    <link
      rel="apple-touch-icon"
      type="image/png"
      sizes="180x180"
      href="./images/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="./images/android-chrome-512x512.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="./images/android-chrome-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./images/favicon-16x16.png"
    />

    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <title>{pageTitle}</title>
    <meta name="title" content={pageTitle} />
    <meta name="description" content={pageDescription} />
  </head>
  <body>
    <slot />

    <script src="./../js/main.ts"></script>
  </body>
</html>

<style is:global lang="scss">
  @import "./../assets/scss/styles.scss";
</style>
